.hero{
    background-image: linear-gradient(
    to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/Img-hero.jpg);     background-color: #2F303A;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.hero__title{
        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase; 
        margin: 0 auto; 
        margin-bottom: 30px;
        width: 696px;
    }

.hero__button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    transition: background-color var(--typical-timing-duration) var(--typical-timing-function);
    &:hover,
    &:focus{
    background-color: #188CE8;}
}

